
* {
    box-sizing: border-box;
}

:root {
    --maincol: #404041;
    --maintxt: #c3c2c2;
    --addtxt: #a2a2a2;
    --linktxt: #d8d8d8;
    --mainheadtxt: #4d4d4d;
    --mainheadbg: #f9edcd;
    --bordercol: #cbc0a5;
    --space: 1rem;
}

body {
    line-height: 1.5;
    background-color: #2e2e2e;
}

header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: var(--space);
    color: var(--mainheadtxt);
    background-color: var(--mainheadbg);
    border: 4px solid;
    margin-bottom: 12px;
    padding: 10px;
    border-color: var(--bordercol);
    border-radius: 5px;
}

main {
    border: 3px solid;
    border-color: var(--bordercol);
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--maincol);
    color: var(--maintxt);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    border: 3px solid;
    border-color: var(--bordercol);
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--maincol);
    color: var(--maintxt);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    border: 3px solid;
    border-color: var(--bordercol);
    border-radius: 5px;
    margin-top: var(--space);
    margin-bottom: var(--space);
    padding: 10px;
    background-color: var(--maincol);
    color: var(--maintxt);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article {
    background-color: var(--mainheadbg);
    color: var(--mainheadtxt);
    border: 5px solid;
    border-color: var(--bordercol);
    border-radius: 5px;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
}

article a {
    color: var(--mainheadtxt);
}

table {
    border: 1px solid;
    border-color: var(--bordercol);
    border-radius: 5px;
}

table caption {
    color: var(--addtxt);
}

thead {
    background-color: var(--mainheadbg);
    color: var(--mainheadtxt);
}

td {
    border: 1px solid;
    border-color: var(--bordercol);
    color: var(--linktxt);
}

form {
    background-color: var(--mainheadbg);
    color: var(--mainheadtxt);
    border: 4px solid;
    border-color: var(--bordercol);
    border-radius: 5px;
    max-width: 350px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px
}

form label {
    color: var(--mainheadtxt);
    padding: 10px;
}

form input {
    background-color: var(--mainheadtxt);
    border: 4px solid;
    border-color: var(--maincol);
    color: var(--maintxt);
}

form input:focus {
    border-color: #b4a888;
}

form select:focus {
    border-color: #b4a888;
}

form select {
    background-color: var(--mainheadtxt);
    border: 4px solid;
    border-color: var(--maincol);
    color: var(--maintxt);
}

form textarea {
    background-color: var(--mainheadtxt);
    border: 4px solid;
    border-color: var(--maincol);
    color: var(--maintxt);
    margin-top: 5px;
}

form textarea:focus {
    border-color: #b4a888;
}

fieldset legend {
    color: var(--mainheadtxt);
}

h1 {
    margin: auto;
}

h2, h3, h4, h5 {
    margin: auto;
}

a {
    color: var(--linktxt);
}

figure figcaption {
    color: var(--addtxt);
}

.home-pg {
    margin-bottom: 12px;
}
.article-pg {
    margin-bottom: 12px;
}
.contact-pg {
    margin-bottom: 12px;
}

.nav-link {
    max-width: 250px;
}

.nav-link:hover {
    color: var(--mainheadtxt);
    background-color: var(--mainheadbg);
    border: 3px solid;
    border-color: #b4a888;
    border-radius: 2px;
    max-width: 250px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.munchkin-img {
    border: 2px solid;
    border-color: var(--mainheadbg);
    border-radius: 5px;
}

button[type="submit"] {
    background-color: var(--mainheadtxt);
    border: 2px solid;
    border-color: var(--maincol);
    font-family:'Times New Roman', Times, serif;
    color: var(--maintxt);
}

button[type="submit"]:focus {
    border-color: #b4a888;
}